{% extends 'base.html.twig' %}
{% trans_default_domain 'reset_password' %}

{% block navbar %}navbar-dark bg-dark border-bottom{% endblock %}
{% block title %}{{ 'reset_password.title.password_reset'|trans }}{% endblock %}
{% block body %}
    <div class="main-content">
        <section class="slice slice-lg min-vh-100 d-flex align-items-center bg-gradient-dark">
            <div class="container py-5 px-md-0 d-flex align-items-center">
                <div class="w-100">
                    <div class="row row-grid justify-content-center justify-content-lg-between">
                        <div class="col-12 order-lg-2">
                            <div class="card shadow zindex-100 mb-0">
                                <div class="card-body px-md-5 py-5">
                                    <div class="mb-5">
                                        <h6 class="h3">{{ 'reset_password.title.password_reset'|trans }}</h6>
                                        <p class="text-muted mb-0">{{ 'reset_password.title.password_reset_text'|trans }}</p>
                                    </div>

                                    {% for error in form.vars.errors %}
                                        <div class="alert alert-error">
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                    
                                    {{ form_start(form, {'attr': {'autocomplete' : 'off'}}) }}
                                    
                                    {% for message in app.flashes('notice') %}
                                        <div class="alert alert-error">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% if error is defined and error is not null %}
                                        <div class="alert alert-error">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    {% endif %}
        
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            {{ form_row(form.plainPassword.first, {'attr': {'class': 'passwd form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    {{ form_row(form._token) }}
                                        <button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                                            <span class="btn-inner--text">{{ 'reset_password.field.reset'|trans }}</span>
                                            <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
