Dag,<br />

Er heeft zich een nieuwe gebruiker aangemeld met<br />
bedrijfsnaam {{ user.companyName }}<br />
voornaam {{ user.firstName }}<br />
achternaam {{ user.lastName }}<br />
email {{ user.email }}<br />

Wil je deze gebruiker actief maken?<br />
<a href="{{ url('user_register_activate', {token: user.token}) }}">Activeer</a><br />
<br />
Groet,<br />
Klantportaal WebdesignTilburg