{% extends 'base.html.twig' %}
{% trans_default_domain 'ticket' %}

{% block navbar %}navbar-dark bg-dark border-bottom{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block body %}
    <div class="main-content">
        <section class="slice">
            <div class="container py-5 px-md-0 d-flex align-items-center">
                <div class="w-100">
                    <div class="row row-grid justify-content-center justify-content-lg-between">
                        <div class="col-12 order-lg-2">
                            <div class="card shadow zindex-100 mb-0">
                                <div class="card-body px-md-5 py-5">
                                    <div class="mb-5">
                                        <h1 class="h1">{{ page.title }}</h1>
                                        <p class="text-muted mb-0">{{ page.content }}</p>
                                    </div>
                                    <span class="clearfix"></span>
                                    {{ form_start(form, {'attr': {'autocomplete' : 'off'}}) }}

                                    {{ form_errors(form) }}
                                    {{ form_row(form.contactName) }}
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.subject) }}
                                    {{ form_row(form.description) }}
                                    {{ form_row(form.priority) }}

                                    <br/>
                                         <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="my-awesome-dropzone">Bijlage(n)</label>
                                                    <div class="dropzone dropzone-previews" id="my-dropzone"></div>
                                                </div>
                                            </div>
                            			</div>
                                    <br/>
                                    
                                    <button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                                        <span class="btn-inner--text">{{ 'ticket.field.submit'|trans }}</span>
                                        <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                    </button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="uploader" data-endpoint="{{ oneup_uploader_endpoint('gallery') }}" data-upload-form-id="{{ form.vars.value.uploadFormId }}" />
    <div id="attachment_remove" data-attachment_remove="{{ path('attachment_new_new_remove') }}" />
{#     <div id="urls" data-attachment-post="{{path('attachment_post', {'id': 1}) }}" data-attachment-remove="{{path('attachment_new_remove', {'ticketId': 1}) }}" />#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add') }}
{% endblock %}