{% extends 'base.html.twig' %}
{% trans_default_domain 'ticket' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dropzone') }}
{% endblock %}

{% block navbar %}navbar-dark bg-dark border-bottom{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block body %}
    <div class="main-content">
        <section class="slice">
            <div class="container py-5 px-md-0 d-flex align-items-center">
                <div class="w-100">
                    <div class="row row-grid justify-content-center justify-content-lg-between">
                        <div class="col-12 order-lg-2">
                            <div class="card shadow zindex-100 mb-0">
                                <div class="card-body px-md-5 py-5">
                                    <div class="mb-5">
                                        <h1 class="h1">{{ page.title }}</h1>
                                        <p class="text-muted mb-0">{{ page.content }}</p>
                                    </div>
                                    <span class="clearfix"></span>
                                        <div class="row">
                                             <div class="col-sm-4">
                                                 <div class="row">
                                                    {{ 'ticket.field.status'|trans }}
                                                </div>
                                                 <div class="row">
                                                    <strong>{{ ticket.status }}</strong>
                                                </div>
                                                 <div class="row">
                                                    {{ 'ticket.field.due_date'|trans }}
                                                </div>
                                                 <div class="row">
                                                     <strong>{{ ticket.dueDate|date('d-m-Y') }}</strong>
                                                </div>
                                                 <div class="row">
                                                    {{ 'ticket.field.classification'|trans }}
                                                </div>
                                                 <div class="row">
                                                     <strong>{{ ticket.classification }}</strong>
                                                </div>
                                                <div class="row">
                                                    {{ 'ticket.field.custom_fields.aantal_minuten_ingeschat'|trans }}
                                                </div>
                                                 <div class="row">
                                                    <strong>{{ attribute(ticket.customFields, 'Aantal minuten ingeschat') }}</strong>
                                                </div>
                                                <div class="row">
                                                    {{ 'ticket.field.custom_fields.aantal_uur_ingeschat'|trans }}
                                                </div>
                                                 <div class="row">
                                                    <strong>{{ attribute(ticket.customFields, 'Aantal uur ingeschat') }}</strong>
                                                </div>
                                                 <div class="row">
                                                    {{ 'ticket.field.priority'|trans }}
                                                </div>
                                                 <div class="row">
                                                    <strong>{{ ticket.priority }}</strong>
                                                </div>
                                                 <div class="row">
                                                    {{ 'ticket.field.attachments'|trans }}
                                                </div>
                                                 <div class="row">
                                                    <ul>
                                                    {% for ticketAttachment in ticketAttachments %}
                                                        <li>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <strong><a href="{{ ticketAttachment.href }}?portalname=webdesigntilburg&inline=true" target="_blank">{{ ticketAttachment.name }}</a></strong> 
                                                                <form action="{{ path('ticket_attachment_edit_remove', {ticketId: ticket.id, attachmentId: ticketAttachment.id }) }}" onsubmit="return window.confirm('Weet u zeker dat u {{ ticketAttachment.name|e('html_attr') }} wilt verwijderen?');" method="post">
                                                                    <input type="hidden" name="_method" value="DELETE" />
                                                                    <input type="hidden" name="token" value="{{ csrf_token('ticket-attachment-delete') }}" />
                                                                    <button type="submit" class="delete-link" class="btn btn-sm btn-primary btn-icon rounded-pill">verwijder</button>
                                                                </form>
                                                             </div>
                                                         </div>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label class="control-label">{{ 'ticket.field.attachments_add'|trans }}</label>
                                                            <div action="/" class="dropzone" id="ticket-dropzone">
                                                                <div class="dz-message" data-dz-message><span>{{ 'ticket.field.attachments_drag'|trans }}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <strong>{{ 'ticket.field.nr'|trans }} {{ ticket.ticketNumber }} {{ ticket.subject }}</strong>
                                                </div>
                                                <div class="row">
                                                    <ul>
                                                    {% for ticketComment in ticketComments %}
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <strong>{{ ticketComment.commenter.name }}</strong>
                                                                 </div>
                                                                <div class="col-sm-6">
                                                                    {{ ticketComment.commentedTime|date('d-m-Y H:i') }}
                                                                 </div>
                                                            </div>
                                                            <div class="row">
                                                                {{ ticketComment.content }}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                    <a href="{{ path('ticket_comment_create', {ticketId: ticket.id }) }}" type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                                                        <span class="btn-inner--text">{{ 'ticket_comment.field.add_comment'|trans }}</span>
                                                        <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <ul>
                                                    {% for ticketThread in ticketThreads %}
                                                        <li>
                                                        <div class="row">
                                                            <b>{{ ticketThread.fromEmailAddress }}</b>
                                                        </div>
                                                        <div class="row">
                                                            {{ ticketThread.content|raw }}
                                                        </div>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                    <a href="{{ path('ticket_reply_create', {ticketId: ticket.id }) }}" type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                                                        <span class="btn-inner--text">{{ 'ticket_comment.field.add_reply'|trans }}</span>
                                                        <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="urls" data-attachment-post="{{path('ticket_attachment_edit', {'id':ticket.id}) }}" data-attachment-remove="{{path('attachment_edit_new_remove', {'ticketId':ticket.id}) }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dropzone') }}
{% endblock %}